<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>

    <link href="/css/normalize.css" type="text/css" rel="stylesheet">
    <link href="/fonts/material-icons.css" type="text/css" rel="stylesheet">
    <link href="/fonts/open-sans.css" type="text/css" rel="stylesheet">
    <link href="/fonts/roboto.css" type="text/css" rel="stylesheet">

    <link href="/css/material.min.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div id="app"></div>

    <script type="text/javascript" src="/js/material.min.js" charset="utf-8"></script>
</body>
</html>
